<h1 class="mt-5">Forget Password</h1>

<%= form_with url: forget_password_path, data: {turbo: false} do |form| %>

    <div class="mb-3">
        <%= form.label :email%>
        <%= form.email_field :email, class: "form-control", placeholder: "user@email.com" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Reset Password", class: "btn btn-primary" %>
    </div>
<% end %>